body{
    background-color:#660066;
    color:white;
    text-align:center;
}
#header,#footer{
    background-color:purple;
    color:black;
}
select.person,select.nonperson,select.place,select.group,select.abstract,select.language,select.object,select.culture{
    display:none;
}